@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');



/* custom properties */
:root {
    --ff-primary:'Montserrat', sans-serif;
    --ff-secondary: 'Roboto Mono', monospace;
  
    --fw-reg: 300;
    --fw-bold: 900;
  
    --clr-light: #fff;
    --clr-lightgrey: #f8f9fa;
    --clr-grey: #777;
    --clr-dark: #999;
    --clr-darkgrey: #343a40e6;
    --clr-black: black;
    --clr-accent: #51c2a6;
    --clr-ocean: #248069;


    --xxxl: 4rem;
    --xxl: 3rem;
    --xl: 2.5rem;
    --lg: 2rem;
    --md: 1.6rem;
    --sm: 1.2rem;
    --xs: 0.8rem;
  
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

/* global styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}
  
html {
      scroll-behavior: smooth;
}

body {
    font-family: var(--ff-primary);
    margin: 0;
    padding: 0;
    font-size: var(--sm);
    font-weight: var(--fw-reg);
    color: var(--clr-grey);
    line-height: 1.7;
}

* {
    outline: none;
}

*:not(.slick-track):not(.slick-list) {
    transition: 0.4s;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
}

h1 {
    font-size: var(--xxl);
    line-height: 1.2;
    margin-bottom: var(--sm);
}

h2 {
    font-size: var(--lg);
    color: var(--clr-accent);
    margin-bottom: var(--sm);
    line-height: 1.2;
}

h3 {
    font-size: var(--sm);
    font-weight: var(--fw-reg);
}

h4 {
    font-size: var(--sm);
    font-weight: var(--fw-reg);
}

h5 {
    font-size: var(--sm);
    font-family: var(--ff-secondary);
}

p {
    margin: 0 0 var(--xs);
}

button.rounded {
    background: var(--clr-accent);
    border: none;
    color: var(--clr-light);
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
    line-height: 1.5;
    cursor: pointer;
    transition:  10ms ease-in-out transform;
    box-shadow: var(--bs);
}

button.rounded:hover {
    transform: scale(1.05);
    background: var(--clr-ocean);
    box-shadow: var(--bs);
}

p.large-paragraph {
    font-size: var(--sm);
    font-weight: var(--fw-reg);
}

/* header styles */
#header-hero-container {
    min-height: 600px;
    height: calc(100vh);
    position: relative;
}

header {
    background: transparent;
    padding: var(--sm) 0;
    border-bottom: 1px solid var(--clr-darkgrey);
    position: fixed;
    width: 100%;
    z-index: 3;
}

#logo {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: var(--lg);
    font-weight: var(--fw-bold);
    color: var(--clr-light);
    text-decoration: none;
    position: relative;
    top: 4px;
    animation: slideInFromLeft 1s ease-in;
}

.hamburger-menu {
    background-color: transparent;
    border: 1px solid var(--clr-light);
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
}

.hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: var(--clr-light);
    margin: 4px 0;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 15px;
}

#close-flyout {
    display: none;
}

header ul li a {
    color: var(--clr-dark);
    font-size: 16px;
    text-decoration: none;
}

header ul.is-sticky li a {
    color: #000;
}

header ul li a:hover,
header ul li a.active {
    color: var(--clr-light);
}

header ul li a:hover {
    border-bottom: 2px var(--clr-light) solid;
}

header ul.is-sticky li a:hover,
header ul.is-sticky li a.active {
    color: var(--clr-accent);
}

/* hero section styles */
#hero {
    background: url('hero.jpg') center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

#hero .fade {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--clr-darkgrey);
    z-index: 1;
}

#hero .hero-text {
    position: absolute;
    top: 50%;
    margin: -75px auto 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: var(--clr-light);
    width: 500px;
    text-align: center;
}

#hero .hero-text p {
    line-height: var(--md);
    font-weight: var(--fw-reg);
    font-size: var(--sm);
}


/* how it works styles */
#how-it-works {
    padding: var(--xxl) 0;
    background: var(--clr-lightgrey);
    text-align: center;
}

#how-it-works h2 {
    margin-bottom: var(--xxl);
}

#how-it-works .flex > div {
    width: 30%;
}

#how-it-works h4 {
    color:  var(--clr-darkgrey);
    margin-top: var(--sm);
}

#how-it-works span.fas {
    color: var(--clr-accent);
    font-size: 35px;
}

#how-it-works span.fas:hover {
    color: var(--clr-ocean);
}


/* properties styles */
#properties {
    margin: var(--xxxl) 0 8rem;
    position: relative;
}

#properties h2 {
    margin-bottom: 3rem;
}


#properties .container {
    position: relative;
}

#properties .container:before {
    position: absolute;
    right: 80px;
    top: 18px;
    color: var(--clr-dark);
}

#properties-slider a.slick-arrow {
    color:  var(--clr-black);
    position: absolute;
    top: -78px;
    right: 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

#properties-slider a.slick-prev {
    right: 80px;
}

#properties-slider .slick-slide {
    padding: 0 15px;
}

#properties-slider img {
    width: 100%;
    display: block;
    box-shadow: var(--bs);
    transition: transform 0.2s ease-in
}

#properties-slider img:hover {
    filter: hue-rotate(90deg);
}

#properties-slider .property-details {
    padding: var(--xs);
}

#properties-slider .price {
    font-size: var(--sm);
    color:  var(--clr-darkgrey);
    font-weight: var(--fw-bold);
    margin: 0 0 0.5rem 0;
}

#properties-slider .property-details span {
    font-size: var(--xs);
    padding-right: 15px;
}

#properties-slider .property-details span.baths {
    padding-left: 10px;
}

#properties-slider .property-details span.sqft {
    padding-right: 0;
    padding-left: 10px;
}

#properties-slider .property-details span.beds,
#properties-slider .property-details span.baths {
    border-right: 1px solid var(--clr-grey);
}

#properties-slider .property-details address {
    font-size: var(--xs);
    font-style: normal;
    margin-top: 0.5rem;
}

#properties button.rounded {
    display: block;
    margin: var(--lg) auto 0;
    width: 350px;
}


/* agents styles */
#agents {
    margin: var(--xxxl) 0 6rem;
    padding: 0 0 6rem;
    border-bottom: 1px solid var(--clr-lightgrey);
}

#agents p.large-paragraph {
    width: 50%;
    margin-bottom: var(--xxxl);
}

#agents .flex {
    flex-wrap: wrap;
    padding: 0;
}

#agents .card {
    width: 32%;
    background: var(--clr-light);
    margin-bottom: var(--lg);
    box-shadow: var(--bs);
    transition: transform 0.2s ease-in
}

#agents .card:hover {
    transform: translateY(-15px);
}

#agents .card img {
    width: 100%;
}

#agents .card h3 {
    font-family: var(--ff-secondary);
    color:  var(--clr-black);
}

#agents .card h3,
#agents .card p {
    padding-left: var(--sm);
}


/* best real estate company styles */
#the-best {
    margin: var(--lg) 0;
}

#the-best .flex > img {
    width: 47%;
    box-shadow: var(--bs);
    transition: transform 0.2s ease-in
}

#the-best .flex > img:hover {
    transform: translateY(-15px);
}

#the-best .flex > div {
    width: 40%;
}

#the-best ul {
    padding-left: 20px;
    margin-bottom: var(--xxxl);
}

#the-best ul li {
    margin: 10px 0;
}


/* services styles */
#services {
    background: var(--clr-lightgrey);
    padding: 6rem 0;
    margin: 8rem 0;
    border-bottom: 1px solid var(--clr-lightgrey);
}

#services h2 {
    text-align: center;
    margin-bottom: var(--xxl);
}

#services .flex {
    flex-wrap: wrap;
}

#services .flex > div {
    width: 30%;
    margin-bottom: var(--lg);
}

#services .flex > div .fas {
    color: var(--clr-accent);
    font-size: 40px;
    float: left;
    margin-top: 15px;
    width: 20%;
    text-align: center;
}

#services .flex > div .fas:hover {
    color: var(--clr-ocean);
}

#services .flex > div .services-card-right {
    float: right;
    width: 75%;
}

#services .flex > div a {
    color: var(--clr-accent);
    text-decoration: none;
}

#services .flex > div a:hover {
    text-decoration: underline;
}


/* testimonials styles */
#testimonials {
    margin-bottom: 8rem;
}

#testimonials h2 {
    text-align: center;
}

#testimonials-slider .slick-slide {
    text-align: center;
}

#testimonials-slider blockquote {
    font-size: var(--md);
    font-style: italic;
    margin: var(--sm) auto var(--xxl);
    max-width: 740px;
}

#testimonials-slider .testimonials-caption {
    width: 200px;
    margin: 0 auto;
}

#testimonials-slider .testimonials-caption img {
    float: left;
    border-radius: 30px;
    width: 60px;
    box-shadow: var(--bs);
}

.testimonials-caption p {
    position: relative;
    top: 13px;
    font-size: var(--sm);
}

#testimonials-slider .slick-arrow {
    text-decoration: none;
    position: absolute;
    font-size: 40px;
    color:  var(--clr-black);
    top: 50%;
    margin-top: -35px;
    z-index: 1;
}
#testimonials-slider .slick-next {
    right: 0;
}


/* contact us styles */
#contact {
    background: var(--clr-lightgrey);
    padding: var(--xxxl) 0 8rem;
}

#contact h2 {
    text-align: center;
    margin-bottom: var(--xxxl);
}

#form-container {
    width: 58%;
    background: var(--clr-light);
    padding: var(--xxl);
    box-sizing: border-box;
    height: 0%;
}

#form-container h3 {
    color: #000;
    font-family: var(--ff-secondary);
    margin-bottom: var(--lg);
}

#form-container label {
    display: block;
    color:  var(--clr-black);
    margin-top: var(--sm);
}

#form-container input,
#form-container textarea {
    display: block;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid var(--clr-lightgrey);
    width: 100%;
    box-sizing: border-box;
    height: 43px;
    font-family: var(--ff-primary);
    font-size: var(--sm);
    color:  var(--clr-darkgrey);
}

#form-container textarea {
    height: 170px;
    margin-bottom: var(--lg);
    resize: none;
}

#address-container {
    width: 38%;
    background: var(--clr-light);
    padding: var(--md);
    box-sizing: border-box;
    height: 0%;
}

#address-container label {
    font-weight: var(--fw-bold);
    display: block;
    margin-top: var(--lg);
}

#address-container label:first-child {
    margin-top: 0;
}

#address-container address {
    margin-bottom: var(--md);
    font-style: normal;
}

#address-container a {
    text-decoration: none;
    color: var(--clr-accent);
}

#address-container a:hover {
    text-decoration: underline;
}

/* footer styles */
footer {
    background:  var(--clr-darkgrey);
    padding: 8rem 0;
}

footer .flex {
    padding-bottom: 6rem;
    border-bottom: 1px solid var(--clr-grey);
}

footer h5 {
    color: var(--clr-light);
    margin-bottom: var(--sm);
    font-weight: var(--fw-reg);
}

footer h5.follow-us {
    margin-top: var(--sm);
}

footer .footer-about {
    width: 47%;
}

footer .footer-about p {
    width: 65%;
}

footer .footer-quick-links {
    width: 16%;
}

footer .footer-quick-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .footer-quick-links ul li {
    margin: 10px 0;
}

footer .footer-quick-links ul li a {
    color: var(--clr-grey);
    text-decoration: none;
}

footer .footer-quick-links ul li a:hover {
    color: var(--clr-light);
}

footer .footer-subscribe {
    width: 35%;
}

#subscribe-container {
    position: relative;
}

footer .footer-subscribe input {
    border-radius: 30px;
    height: 43px;
    font-family: var(--ff-primary);
    border: 1px solid var(--clr-dark);
    background-color: transparent;
    font-size: var(--sm);
    padding: 10px;
    color: var(--clr-light);
    box-sizing: border-box;
    width: 80%;
}

footer button.right-rounded {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: var(--clr-accent);
    font-size: 16px;
    color:  var(--clr-black);
    padding: 10px 30px 9px;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 0;
}

footer button.right-rounded:hover {
    background: var(--clr-light);
}

footer .footer-subscribe ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .footer-subscribe ul li {
    display: inline-block;
    margin: 0 16px;
}

footer .footer-subscribe ul li:first-child {
    margin-left: 0;
}

footer .footer-subscribe ul li a {
    text-decoration: none;
    color: var(--clr-grey);
}

footer .footer-subscribe ul li a:hover {
    color: var(--clr-light);
}

footer small {
    margin-top: var(--xxl);
    font-size: var(--sm);
    display: block;
    text-align: center;
}


/* media queries */
@media (max-width: 991px) {
    #logo {
        top: 1px;
    }

    #nav-toggle {
        display: block;
    }

    nav ul {
        position: fixed;
        background: var(--clr-light);
        right: -100%;
        top: 0;
        margin: 0;
        padding: var(--lg);
        height: 100%;
        width: 300px;
        box-sizing: border-box;
        box-shadow: 5px 0 10px 3px var(--clr-dark);
    }

    #close-flyout {
        position: absolute;
        right: var(--lg);
        top: var(--md);
        font-size: 30px;
        color: var(--clr-grey);
        cursor: pointer;
        display: block;
        line-height: 1;
        margin: 0;
    }

    nav ul li {
        display: block;
        margin: 20px 0;
    }

    nav ul li:first-child {
        margin-top: 50px;
    }
    nav ul li a {
        font-size: 20px;
        color:  var(--clr-black);
    }

    nav ul li a.active,
    nav ul li a:hover {
        color: var(--clr-accent);
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: var(--lg);
    }

    h2 {
        font-size: var(--lg);
    }

    h3 {
        font-size: var(--sm);
    }

    .large-paragraph {
        font-size: var(--sm);
    }

    p {
        font-size: var(--xs);
    }

    .container {
        max-width: 540px;
    }

    #hero .hero-text {
        width: 400px;
    }

    #agents .card {
        width: 49%;
    }

    #the-best .flex > img {
        display: none;
    }

    #the-best .flex > div {
        width: 100%;
    }

    #testimonials-slider p {
        font-size: var(--sm);
    }

    #properties .container:before {
        top: 2px;
        font-size: var(--sm);
    }

    #properties-slider a.slick-arrow {
        font-size: var(--sm);
    }

    #properties button.rounded {
        width: 300px;
    }

    #services .flex > div {
        width: 48%;
    }

    #contact .flex {
        flex-wrap: wrap;
    }

    #form-container {
        width: 100%;
        padding: var(--lg);
    }

    #address-container {
        width: 100%;
        margin-top: var(--lg);
    }

    footer {
        padding: 6rem 0;
    }

    footer .flex {
        flex-wrap: wrap;
    }

    footer .flex > div {
        width: 100%;
        margin-top: var(--sm);
    }

    footer .flex > div:first-child {
        margin-top: 0;
    }

    footer .footer-about p {
        font-size: var(--sm);
        width: 100%;
    }

    footer .footer-subscribe input {
        width: 90%;
    }

    footer h5.follow-us {
        margin-top: var(--lg);
    }
}

@media (max-width: 500px) {
    #hero .hero-text {
        width: 330px;
    }

    #agents {
        margin: var(--xxxl) 0 var(--xxl);
        padding: 0 0 var(--xxl);
    }

    #agents .card {
        width: 100%;
    }

    #agents p.large-paragraph {
        width: 100%;
    }

    #how-it-works .flex {
        display: block;
    }

    #how-it-works .flex > div {
        width: 100%;
        margin-top: var(--lg);
    }

    #properties button.rounded {
        width: 250px;
    }

    #services {
        padding: var(--xxxl) 0 var(--xxl);
        margin: var(--xxxl) 0;
    }

    #services .flex > div {
        width: 100%;
    }

    #testimonials {
        margin-bottom: var(--xxxl);
    }

    #testimonials-slider p {
        font-size: var(--sm);
    }

    #testimonials-slider .slick-arrow {
        display: none !important;
    }

    #contact {
        padding: var(--xxxl) 0;
    }

    #contact h2 {
        margin-bottom: var(--lg);
    }

    #form-container {
        padding: var(--md);
    }

    footer {
        padding: var(--xxxl) 0;
    }
}

@media (max-width: 400px) {
  #hero .hero-text {
     max-width: 275px;
     width: 100%;
  }
  
  #properties button.rounded {
     max-width: 250px;
     width: 100%;
  }
  
  nav ul {
    width: 200px;
  }
}


/* animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}